<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FabAgent Test</title>
    <script src="{{ url_for('static', filename='test.js') }}"></script>
    <script>
                window.wxOConfiguration = {
                    orchestrationID: "e4dcac9c25e9473485989a3a05ee4ec1_cb8b8276-189a-48d7-b1ea-0c5f3395ef88",
                    hostURL: "https://us-south.watson-orchestrate.cloud.ibm.com",
                    rootElementID: "root",
                    showLauncher: true,
                    crn: 
                    "v1:bluemix:public:watsonx-orchestrate:us-south:a/e4dcac9c25e9473485989a3a05ee4ec1:cb8b8276-189a-48d7-b1ea-0c5f3395ef88::",
                    deploymentPlatform: "ibmcloud",
                    chatOptions: {
            agentId: "62e0c2e9-1c55-40ba-adf3-aeeabdf38239",
            agentEnvironmentId: "b44df83f-a04a-4087-a3d5-0317d2cf0d03"
        }
                };

                setTimeout(function () {
                    const script = document.createElement('script');
                    script.src = "/static/test.js";
                    // script.src = `${window.wxOConfiguration.hostURL}/wxochat/wxoLoader.js?embed=true`;
                    script.addEventListener('load', function () {
                        wxoLoader.init();
                    });
                    document.head.appendChild(script);
                }, 0);
            </script>
</head>
<body>
</body>
</html>